body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#map {
    width: 100%;
    height: 100vh;
    background-color: #b3b3b3;
}
.info {
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.map-overlay {
    display: flex;
    position: absolute;
    z-index: 200;
    background-color: #FFFFFFC0;
    justify-content: space-between;
    max-width: 500px;
    padding: 0.2rem;
    margin: 1.2rem;
    white-space: nowrap;
    border-radius: 4px;
}

.bottom-left-overlay {
    bottom: 0px;
}
.top-right-overlay {
    top: 0px;
    right: 0px;
}

.noti-text {
    color: black;
    font-family: "Verdana";
    white-space: nowrap;
}

.button {
    text-decoration: none;
    color: #FF0000FF;
    display: block;
    text-align: right;
    cursor: pointer;
}