body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#map {
    width: 100%;
    height: 100vh;
    background-color: #c3c3c3;
}
.info {
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}